/* .carousel{
    height: 60vh;
}
.carousel .carousel-inner .carousel-item img{
    height: -webkit-fill-available !important;
    height: 60vh;
} */
.carousel-indicators{
    display: none !important;
}

@media (max-width: 768px) {
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 25px !important;
        height: 25px !important;
    }

}