.category-card{
    width: 100% !important;
    object-fit: contain !important;
    transition: all 0.5s ease-in-out !important;
    border-radius: 10px !important;
}
.category-card:hover{
    cursor: pointer !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset !important;
    transform: scale(1.04) !important;
    color: #fcb800 !important;
    border-color: #fcb800 !important;
    transition: all 0.5s ease-in-out !important;
}

@media (max-width: 768px) {
    .category-card{
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
}